
    <form class= "form" action="/adc" method="POST">

        <div class= "card">
            
            <div class= "cardtop">
                <img src="css/{{img}}" class="logotop"> 
                <h1>PROJETO INOVA</h1>
                <h2 class="titulo">Pagina de cadastro de usúario</h2>
                <p>Cadastre-se</p>              
            </div>
             
           
            <div class="cardgrupo">
               <label>Email</label> 
               <input type="email" name="email" placeholder="Digite seu email" required>
            </div>

            <div class="cardgrupo">
                <label>Senha</label> 
                <input type="password" name="senha" placeholder="Digite sua senha" required>
            </div>
            
            <div class="cardgrupo btn">
            <button id="botao" type="submit"><b>CONFIRMAR</b></button>
            </div>

        </div>
    
    </form>    
