
    <form action="/add" method="POST">
    
    <p>Tema: </p>
    <input type="text" name="tema">
    
    <p id="teste">Descrição: </p>
    <textarea name="descricao"cols="30" rows="10"></textarea>
    
    <p id="teste">Disciplina que pode ajudar no projeto: </p>
    <input type="text" name="cometario">

    <p id="teste">Status: </p>
    <input type="text" name="status">
    
    <p id="teste">resumo: </p>
    <textarea name="resumo"cols="30" rows="10"></textarea>
    <button type="submit">Cadastrar Projeto</button>





